<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ColabIt</h1>
		<div id="choice">
			<ul id="ulchoice">
					<a href="/submitter"><li id="lichoice">Submit Task</li></a>
          <a href="/executor"><li id="lichoice">Execute Task</li></a>
			</ul>
		</div>
  </body>
</html>
