<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.16/peer.min.js"></script>
  </head>
  <body>
    <h1>ColabIt</h1>
		<div id="choice">
			<ul id="ulchoice">
					<a href="#"><li id="lichoice">Submit Task</li></a>
          <a href="#"><li id="lichoice">Execute Task</li></a>
			</ul>
		</div>
  </body>
</html>
